<!-- Bottom Nav Bar -->
  <nav class="navbar fixed-bottom navbar-dark bg-dark">

  <h6 class="navbar-text">&copy; Copyright 2022. All rights reserved.   
  <a href="https://www.linkedin.com/in/lance-palogan-1b5bb520a/"> Linkedin </a>
  <a href="https://github.com/Lance238/WebsitePortfolio/"> Github </a>
  </h6>
  </nav>